<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kata Beginner - Challenge 1 | Tasks Manager - YSANDO5</title>

<body>
    <div id="root"></div>
    <script src="login.bundle.js"></script>
</body>
</head>

</html>
